<a href="https://colab.research.google.com/github/Hassan-DS507/data-science-notebooks/blob/main/Task_1_for_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Tom Clinic Data Cleaning Project

##  Objective
Clean and prepare the provided clinic dataset to make it ready for analysis by:
- Handling missing values
- Fixing inconsistent text entries
- Removing duplicates
- Ensuring correct data types

##  Step 1: Import Necessary Libraries

In [1]:
# Data Handling
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Step 2: Load the Datasetet
We load the dataset and take an initial look at its structure.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/tasks_to_dataset/01JT7BFHK057AQS04QAAWHCWNX (1).csv')
df.head()

,Invoice_ID,Date,Customer_Name,Product,Brand,Quantity,Unit_Price,Branch,Payment_Method,Total_Price
0,PET-7000,01/26/2025,Salma,Pet Shampoo,Royal Canin,1,120,Alexandria,Visa,120
1,PET-7001,2025-02-20,NaN,Pet Carrier,Hill's,3,350,6th October,Mobile Wallet,1050
2,PET-7002,2024-06-22,Salma,Canned Pet Food,Royal Canin,1,70,Cairo,Visa,70
3,PET-7003,2025-04-12,Salma,Pet Carrier,Purina,3,400,Port Said,Cash,1200
4,PET-7004,2024-12-26,Reem,Scratching Post,Purina,2,250,6th October,NaN,500

In [4]:
df.sample(5)

,Invoice_ID,Date,Customer_Name,Product,Brand,Quantity,Unit_Price,Branch,Payment_Method,Total_Price
683,PET-7683,2025-03-30,Tarek,Pet Bed,Friskies,3,600,Alexandria,Cash,1800
784,PET-7784,2024-12-05,Tarek,Scratching Post,Trixie,1,300,Port Said,Cash,300
175,PET-7175,2024-09-27,Tarek,Leash,Purina,3,150,Cairo,Visa,450
726,PET-7726,2024-03-26,Tarek,Pet Carrier,Purina,3,300,Port Said,Visa,900
2155,PET-9155,2024-03-11,Reem,Cat Litter,Pedigree,1,70,6th October,Installments,70

# Step 3: Explore the Data

In [5]:
df.shape

(2600, 10)

In [6]:
df.columns

Index(['Invoice_ID', 'Date', 'Customer_Name', 'Product', 'Brand', 'Quantity',
       'Unit_Price', 'Branch', 'Payment_Method', 'Total_Price'],
      dtype='object')

In [7]:
df.nunique().sort_values(ascending = False)

Invoice_ID        2600
Date               540
Total_Price         35
Unit_Price          16
Product             10
Customer_Name        7
Brand                7
Branch               4
Payment_Method       4
Quantity             3
dtype: int64

###  Observation Summary:
The dataset contains a high number of unique invoices and dates, indicating many transactions over time. Most categorical columns like Product, Brand, Branch, and Payment_Method have limited unique values, reflecting a controlled and structured retail environment.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice_ID      2600 non-null   object
 1   Date            2600 non-null   object
 2   Customer_Name   2267 non-null   object
 3   Product         2600 non-null   object
 4   Brand           2600 non-null   object
 5   Quantity        2600 non-null   int64
 6   Unit_Price      2600 non-null   int64
 7   Branch          2600 non-null   object
 8   Payment_Method  1992 non-null   object
 9   Total_Price     2600 non-null   int64
dtypes: int64(3), object(7)
memory usage: 203.3+ KB

##  Data Summary and Observations

###  General Info:
- The dataset contains **2600 rows** and **10 columns**.
- This is sales data, including invoice info, products, prices, customers, and payment methods.

-  `Invoice_ID`: OK – All values are present and unique.
-  `Date`: Type is text, needs to be converted to datetime.
- `Customer_Name`: 333 missing – can fill with "Unknown".
-  `Product`: OK – No missing values.
-  `Brand`: OK – No missing values.
-  `Quantity`: OK – Numeric and complete.
-  `Unit_Price`: OK – Numeric and complete.
-  `Branch`: OK – No missing values.
-  `Payment_Method`: 608 missing – fill with "Not Recorded".
-  `Total_Price`: OK – Numeric and complete.

###  Next Steps:
- Clean missing values.
- Convert `Date` to datetime.
- Validate that `Total_Price = Quantity × Unit_Price`.

In [9]:
missing = df.isna().sum().sort_values(ascending = False)
print(f'Total Number of missing values in the Dataset {missing.sum()}\n')
missing = missing[missing>0]
missing

Total Number of missing values in the Dataset 941

Payment_Method    608
Customer_Name     333
dtype: int64

##  Missing Values

-  **Total Missing Values**: 941
- `Payment_Method`: 608 missing
  - Observation: Many transactions have no recorded payment method.

  
-  `Customer_Name`: 333 missing
  - Observation: Some invoices are missing customer names.

  - Action: you can check pattern

 All other columns have **zero missing values** — data is mostly clean.

## Analyze the pattern of missing data in `Customer_Name` and `Payment_Method`

In [10]:

def Check_Pattern(missing_df, null_col):
    """
    Analyze the pattern of missing data in a specific column.

    Parameters:
    ----------
    missing_df : pandas.DataFrame
        Rows where the specified column is missing.
    null_col : str
        The column with missing values.

    Returns:
    -------
    pandas.DataFrame
        Columns that tend to take only 1 or 2 unique values
        when `null_col` is missing — this may indicate a non-random pattern.
    """
    # Remove the target column (we don't need to analyze it here)
    missing_df = missing_df.drop(null_col, axis=1)

    # Create an empty DataFrame to store unique values for relevant columns
    unique_df = pd.DataFrame()

    for col in missing_df.columns:
        nunique = missing_df[col].nunique()

        if nunique in [1, 2]:  # If only 1 or 2 unique values exist
            unique_vals = missing_df[col].unique()
            unique_df[col + '_unique_vals'] = pd.Series(unique_vals)

    # Interpretation
    if unique_df.empty:
        print(f'\t- Missing values in `{null_col}` appear to be randomly distributed.')
        print(f'\t- Likely missing mechanism: MCAR (Missing Completely At Random)')
    else:
        print(f'\t- Missing values in `{null_col}` are associated with specific values in other columns:')
        print(f'\t  Columns with 1 or 2 unique values when `{null_col}` is missing: {list(unique_df.columns)}')
        print(f'\t- Likely missing mechanism: MAR or MNAR (Not Missing Completely At Random)')

    return unique_df


def Missing_Pattern(df, col):
    """
    Show stats and pattern analysis for a column with missing values.

    Parameters:
    ----------
    df : pandas.DataFrame
    col : str
        Column name to analyze
    """
    print(f"\nFeature: {col}")
    print('-'*40)
    print(f"\t- Number of missing values: {df[col].isna().sum()}")
    print(f"\t- Percentage of missing values: {(df[col].isna().mean())*100:.2f}%")
    print(f"\t- Data type: {df[col].dtype}")
    print(f"\t- Number of unique values: {df[col].nunique(dropna=True)}")
    print(f"\t- Most common value: {df[col].mode(dropna=True).iloc[0] if df[col].notna().any() else 'N/A'}")

    print(f"\nAnalyzing missing value pattern...")
    print('-'*40)
    missing = df[df[col].isna()]
    unique_df = Check_Pattern(missing, col)
    return missing, unique_df

In [11]:
missing1, pattern1 = Missing_Pattern(df, 'Customer_Name')
missing2, pattern2 = Missing_Pattern(df, 'Payment_Method')

Feature: Customer_Name
----------------------------------------
	- Number of missing values: 333
	- Percentage of missing values: 12.81%
	- Data type: object
	- Number of unique values: 7
	- Most common value: Mahmoud

Analyzing missing value pattern...
----------------------------------------
	- Missing values in `Customer_Name` appear to be randomly distributed.
	- Likely missing mechanism: MCAR (Missing Completely At Random)

Feature: Payment_Method
----------------------------------------
	- Number of missing values: 608
	- Percentage of missing values: 23.38%
	- Data type: object
	- Number of unique values: 4
	- Most common value: Mobile Wallet

Analyzing missing value pattern...
----------------------------------------
	- Missing values in `Payment_Method` appear to be randomly distributed.
	- Likely missing mechanism: MCAR (Missing Completely At Random)

### Missing Values Analysis Summary

- **Customer_Name**
  - ~12.8% missing values
  - Missing Completely At Random (MCAR)
  -  Action: Fill missing values with `'Unknown'` to keep the data and track anonymous customers.

- **Payment_Method**
  - ~23.4% missing values
  - Missing Completely At Random (MCAR)
  -  Action: Fill missing values with the most common value (`mode`), e.g., `'Mobile Wallet'`.

###  Final Decision:
- No rows will be dropped.
- Missing values will be imputed to retain useful sales data for analysis.

In [12]:
df['Customer_Name'].fillna('Unknown', inplace=True)

<ipython-input-12-1aedb04077b4>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer_Name'].fillna('Unknown', inplace=True)

In [13]:
df['Customer_Name'].isna().sum()

np.int64(0)

In [14]:
df['Payment_Method'].fillna(df['Payment_Method'].mode()[0], inplace=True)

<ipython-input-14-b6ef006aba43>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment_Method'].fillna(df['Payment_Method'].mode()[0], inplace=True)

In [15]:
df['Payment_Method'].isna().sum()

np.int64(0)

## Handle duplicates

In [16]:
df.duplicated().sum()

np.int64(0)

# Fix column data types if needed

In [17]:
df.dtypes

Invoice_ID        object
Date              object
Customer_Name     object
Product           object
Brand             object
Quantity           int64
Unit_Price         int64
Branch            object
Payment_Method    object
Total_Price        int64
dtype: object

### Observation : Convert `Date` column

In [18]:
df['Date'].unique()

array(['01/26/2025', '2025-02-20', '2024-06-22', '2025-04-12',
       '2024-12-26', '2024-10-19', '2024-03-19', '2024-12-12',
       '2024-07-22', '2024-02-21', '2024-01-03', '2024-01-19',
       '2024-02-04', '2024-11-24', '2024-09-14', '2024-05-30',
       '2024-11-09', '2024-05-03', '2025-02-18', '2024-11-25',
       '2024-09-21', '2024-02-08', '2025-01-15', '2024-09-02',
       '2024-07-31', '2024-05-24', '2024-03-20', '2024-08-23',
       '2025-03-27', '2024-05-11', '2024-03-05', '2024-05-25',
       '2024-09-12', '2024-04-15', '2024-07-07', '2024-07-28',
       '2025-03-28', '2024-12-08', '2024-02-17', '2025-01-30',
       '2025-03-12', '2024-03-06', '2024-05-12', '2025-02-14',
       '2024-09-11', '2024-10-18', '2024-07-14', '2024-07-27',
       '2024-08-09', '2024-02-01', '2024-03-07', '2024-05-22',
       '2024-03-14', '2025-01-22', '2024-03-24', '2024-02-13',
       '2024-12-03', '2024-05-09', '2025-01-28', '2024-05-20',
       '2024-05-21', '2024-10-04', '2024-10-31', '2024-05-06',
       '2025-01-09', '2024-04-10', '2024-07-10', '2025-02-19',
       '2024-01-31', '2024-09-19', '2024-11-27', '2024-02-10',
       '2024-01-04', '2024-08-02', '2025-02-06', '2024-01-16',
       '2024-06-29', '2024-01-26', '2024-11-02', '2024-06-15',
       '2025-04-15', '2024-12-24', '2024-06-13', '2024-03-31',
       '2024-01-28', '2024-03-30', '2024-12-22', '2025-02-02',
       '2024-08-07', '2024-03-02', '06/17/2024', '2024-07-30',
       '2024-08-14', '2025-02-10', '2024-09-01', '2025-04-06',
       '2025-02-03', '2024-02-09', '2024-12-16', '2024-07-12',
       '2025-04-08', '2024-02-18', '2024-02-29', '2024-12-28',
       '2025-01-02', '2024-01-30', '2024-05-17', '2024-06-27',
       '2024-09-03', '2025-03-04', '2024-11-17', '2024-01-23',
       '2025-02-04', '2024-12-31', '2024-06-25', '2024-05-01',
       '2025-02-21', '2024-01-02', '2024-07-01', '2024-03-13',
       '2025-01-27', '2024-12-07', '2024-06-18', '2024-10-17',
       '2024-09-09', '2024-12-23', '2024-12-15', '2024-08-21',
       '2024-08-31', '03/31/2024', '2024-05-15', '2024-03-12',
       '2024-09-30', '2024-11-03', '2024-09-18', '2024-12-25',
       '2024-06-14', '2024-12-20', '2024-08-12', '2024-05-07',
       '2025-03-14', '2025-04-11', '2024-03-09', '2025-03-07',
       '2024-11-29', '2024-04-03', '2024-09-26', '2025-01-29',
       '2024-09-29', '2024-09-27', '2024-06-23', '2024-04-01',
       '2024-03-22', '01/11/2024', '2025-03-10', '2024-09-28',
       '2025-02-23', '2024-09-16', '2025-02-28', '2024-05-10',
       '2024-08-16', '2024-11-06', '2024-03-21', '2024-05-28',
       '2024-02-07', '2024-03-16', '2024-03-27', '2024-03-18',
       '2024-11-13', '2025-01-21', '2024-07-05', '2024-06-09',
       '2024-08-27', '2024-08-05', '2024-09-20', '2024-05-18',
       '2024-04-26', '2024-01-24', '2024-03-28', '2025-03-24',
       '2024-07-21', '2024-01-14', '2024-01-15', '2024-04-02',
       '2025-02-16', '2024-11-19', '01/20/2025', '2025-03-13',
       '01/13/2024', '2024-10-29', '2024-11-18', '2024-03-25',
       '2024-08-13', '2024-06-12', '2025-04-01', '2024-06-28',
       '2025-04-09', '2024-11-10', '2024-12-11', '2024-05-13',
       '2024-11-15', '2024-09-13', '2024-07-11', '2025-02-11',
       '2024-07-24', '2024-07-15', '2024-02-15', '2024-10-10',
       '2024-12-27', '2025-01-06', '2024-04-28', '2025-03-11',
       '2024-01-17', '05/29/2024', '2024-01-27', '2024-03-29',
       '2024-12-21', '2025-01-13', '2024-09-24', '2024-08-15',
       '2024-06-11', '2024-12-10', '2024-10-06', '2024-06-07',
       '2025-04-07', '2024-09-07', '2025-02-24', '2025-01-18',
       '2024-01-22', '2025-02-12', '2025-02-26', '2025-03-16',
       '2024-10-01', '2024-04-14', '2024-09-08', '2025-01-16',
       '2024-08-30', '2024-06-03', '2024-09-10', '2024-04-16',
       '06/19/2024', '2024-08-26', '2024-12-09', '2024-11-14',
       '2024-06-04', '2025-01-10', '2025-03-09', '2025-01-05',
       '2024-01-25', '2024-08-03', '2024-06-30', '2025-02-07',
       '2024-10-24', '2025-02-08', '2024-04-17', '2024-07-02',
       '01/24/2024', '2025-01-03', '2024-07-19', '2024-01-29',
       '2024-06-05', '2025-03-19', '2024-01-09', '2024-12-02',
       '2024-06-02', '2025-03-15', '2024-10-16', '2024-03-26',
       '2025-01-11', '2024-05-02', '2024-05-16', '2024-05-19',
       '2025-02-17', '2024-04-21', '2025-01-24', '2024-01-08',
       '2024-07-08', '2024-02-25', '2024-07-25', '2024-08-08',
       '2025-03-06', '2025-03-21', '2024-07-29', '2024-02-06',
       '2024-10-27', '2025-04-14', '2024-02-12', '2024-10-14',
       '2024-08-10', '2024-11-01', '2024-07-03', '2025-01-08',
       '2024-12-18', '2025-04-10', '2024-11-07', '2024-08-17',
       '2024-04-27', '2025-03-23', '2024-09-04', '2024-02-03',
       '2024-01-06', '2024-03-17', '2025-03-30', '2024-08-28',
       '2024-05-31', '2024-10-21', '2024-06-08', '2024-05-26',
       '2024-05-29', '2024-10-26', '2025-02-25', '2024-02-26',
       '2024-10-12', '01/14/2025', '2025-01-25', '2024-12-06',
       '2024-03-08', '2024-11-21', '02/07/2025', '2025-01-14',
       '2025-03-22', '2024-10-28', '01/27/2024', '2024-07-09',
       '2025-01-01', '2025-01-20', '2024-03-03', '2025-01-07',
       '2024-04-18', '2024-11-12', '2024-02-22', '2024-11-22',
       '2025-02-15', '2024-08-29', '2024-06-06', '2024-08-22',
       '2024-12-04', '2025-01-19', '2024-01-01', '2024-04-13',
       '2024-02-11', '2024-10-11', '2025-03-20', '2024-10-05',
       '2024-11-20', '2024-10-09', '2024-10-13', '2024-10-15',
       '2024-04-24', '03/07/2025', '2024-02-14', '2024-10-08',
       '2024-05-23', '2025-02-27', '2024-07-16', '2024-10-03',
       '2025-03-31', '2025-02-01', '2025-02-09', '2024-03-01',
       '08/09/2024', '2024-09-23', '07/09/2024', '2024-03-10',
       '2024-12-17', '2025-01-12', '07/15/2024', '2024-10-07',
       '10/27/2024', '2025-04-04', '2025-03-17', '2024-12-14',
       '11/03/2024', '2024-07-26', '2025-03-03', '2024-05-27',
       '03/26/2025', '2024-10-02', '2025-01-31', '2024-08-18',
       '2025-04-13', '2024-04-12', '12/18/2024', '2025-04-03',
       '2024-12-01', '2024-07-23', '2024-11-11', '2025-03-05',
       '2025-03-18', '2025-01-23', '2024-02-02', '2024-04-09',
       '2025-03-25', '2024-06-24', '2024-02-28', '05/09/2024',
       '2024-05-05', '2024-03-15', '2025-02-22', '2025-02-05',
       '2024-02-20', '01/07/2024', '2024-04-08', '2024-11-30',
       '2025-01-04', '2024-12-05', '2024-03-04', '08/13/2024',
       '2024-12-30', '2024-11-23', '07/12/2024', '2024-04-06',
       '2024-06-17', '2024-01-07', '2024-02-27', '2024-04-19',
       '2025-01-26', '2024-04-11', '2024-01-13', '06/07/2024',
       '2024-09-15', '2024-11-05', '2024-07-20', '02/09/2025',
       '2024-06-21', '2024-06-16', '2024-02-19', '09/29/2024',
       '2024-08-20', '2024-11-26', '2024-09-05', '2024-03-23',
       '2024-04-07', '2024-08-04', '2024-05-14', '2024-07-18',
       '04/07/2025', '2025-04-05', '2024-02-05', '2024-07-13',
       '2024-11-16', '2024-06-01', '2024-02-23', '10/10/2024',
       '2024-04-30', '2024-04-23', '2024-04-04', '04/15/2025',
       '2024-01-12', '11/19/2024', '06/24/2024', '12/14/2024',
       '2024-01-05', '2024-10-25', '01/21/2025', '03/04/2024',
       '2024-06-26', '2024-12-29', '2024-12-13', '2024-09-25',
       '2025-04-02', '11/10/2024', '06/23/2024', '08/06/2024',
       '2024-04-05', '2024-10-20', '2024-08-06', '2024-11-28',
       '2024-07-17', '08/15/2024', '2024-05-04', '2024-04-29',
       '08/03/2024', '2024-08-19', '2024-10-22', '2024-02-16',
       '2025-03-08', '2024-01-20', '2024-08-24', '12/23/2024',
       '11/27/2024', '2025-03-01', '2024-08-11', '01/10/2024',
       '2024-09-22', '08/18/2024', '06/12/2024', '2024-08-25',
       '2024-06-20', '2025-02-13', '2025-01-17', '2024-09-06',
       '2024-04-22', '06/25/2024', '2024-01-21', '2024-09-17',
       '2024-03-11', '2024-04-25', '2024-07-06', '2024-01-18',
       '2024-05-08', '03/02/2024', '05/26/2024', '11/06/2024',
       '2024-01-10', '2024-10-30', '11/01/2024', '11/16/2024',
       '05/25/2024', '2024-06-19', '2024-06-10', '2025-03-02',
       '2024-11-08', '2024-07-04', '2024-11-04', '2024-01-11',
       '01/22/2024', '2024-04-20', '01/09/2024', '03/14/2024',
       '04/03/2024', '07/18/2024', '2024-10-23', '04/11/2025',
       '2024-12-19', '11/14/2024', '03/24/2025', '05/02/2024',
       '2024-08-01', '02/23/2024', '04/04/2024', '11/24/2024',
       '04/02/2025', '04/13/2024', '01/05/2024', '04/11/2024',
       '2025-03-26', '09/07/2024', '2025-03-29', '02/10/2024'],
      dtype=object)

In [19]:

from datetime import datetime

def clean_date(date_str):
    if pd.isnull(date_str):
        return None

    # Replace / with - for consistency
    date_str = str(date_str).replace('/', '-')

    # Possible date formats (more can be added if needed)
    formats = ['%Y-%m-%d', '%d-%m-%Y', '%m-%d-%Y', '%d-%b-%Y', '%Y/%m/%d', '%d/%m/%Y']

    for fmt in formats:
        try:
            date_obj = datetime.strptime(date_str, fmt)
            return date_obj.strftime('%Y-%m-%d')  # Standardize format
        except:
            continue

    return None  # If all parsing fails

# Example: apply on a column called 'Date'
df['Date'] = df['Date'].apply(clean_date)

When I looked at the column for dates, I noticed that all the dates were not in the same format. This inconsistency is a significant issue.

We will aim to resolve this in the future.

In [20]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [21]:
df['Date'].isna().sum()

np.int64(0)

In [22]:
missing = df.isna().sum().sort_values(ascending = False)
print(f'Total Number of missing values in the Dataset {missing.sum()}\n')
missing = missing[missing>0]
missing

Total Number of missing values in the Dataset 0

Series([], dtype: int64)

In [23]:
df.to_csv("cleaned_data.csv", index=False)

In [24]:
df

,Invoice_ID,Date,Customer_Name,Product,Brand,Quantity,Unit_Price,Branch,Payment_Method,Total_Price
0,PET-7000,2025-01-26,Salma,Pet Shampoo,Royal Canin,1,120,Alexandria,Visa,120
1,PET-7001,2025-02-20,Unknown,Pet Carrier,Hill's,3,350,6th October,Mobile Wallet,1050
2,PET-7002,2024-06-22,Salma,Canned Pet Food,Royal Canin,1,70,Cairo,Visa,70
3,PET-7003,2025-04-12,Salma,Pet Carrier,Purina,3,400,Port Said,Cash,1200
4,PET-7004,2024-12-26,Reem,Scratching Post,Purina,2,250,6th October,Mobile Wallet,500
...,...,...,...,...,...,...,...,...,...,...
2595,PET-9595,2024-04-19,Salma,Cat Litter,Whiskas,3,90,6th October,Cash,270
2596,PET-9596,2024-11-29,Nour,Canned Pet Food,Purina,3,70,Cairo,Mobile Wallet,210
2597,PET-9597,2024-04-14,Unknown,Canned Pet Food,Pedigree,3,70,Port Said,Mobile Wallet,210
2598,PET-9598,2024-12-26,Nour,Pet Carrier,Purina,1,300,6th October,Visa,300
2599,PET-9599,2025-03-01,Salma,Dry Cat Food,Trixie,2,300,Port Said,Mobile Wallet,600